* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header .logo h1 {
    font-size: 1.5rem;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 1.5rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ff6347;
}

header .carrito a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

header .carrito a:hover {
    color: #ff6347;
}

a {
    color: #333;
    text-decoration: none;
}

/* Contenido principal */
main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: #333;
}

/* Productos */
.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.producto img {
    border-radius: 8px;
    max-width: 130px;
    height: auto;
}

.producto h3 {
    font-size: 1.2rem;
    margin: 1rem 0 0.5rem;
    color: #333;
}

.producto p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}

.producto button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.producto button:hover {
    background-color: #e5533d;
}

/* Ofertas */
.ofertas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.oferta {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.oferta:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.oferta img {
    max-width: 130px;
    height: auto;
    border-radius: 10px;
}

.oferta h3 {
    font-size: 1.2rem;
    margin: 1rem 0 0.5rem;
    color: #333;
}

.oferta p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}

.oferta p del {
    color: #999;
}

.oferta button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.oferta button:hover {
    background-color: #e5533d;
}

.add-to-cart {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #555;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer .info-contacto h3,
footer .redes-sociales h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

footer .info-contacto p {
    margin-bottom: 0.5rem;
}

footer .redes-sociales ul {
    list-style: none;
}

footer .redes-sociales ul li {
    margin-bottom: 0.5rem;
}

footer .redes-sociales ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .redes-sociales ul li a:hover {
    color: #ff6347;
}

footer .derechos {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}

/* Media Queries para Responsividad */
@media (max-width: 1200px) {
    header {
        padding: 0 1rem;
    }

    .productos-grid,
    .ofertas-grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header nav ul {
        flex-direction: column;
        margin-top: 1rem;
    }

    header nav ul li {
        margin: 0.5rem 0;
    }

    .productos-grid,
    .ofertas-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer .info-contacto,
    footer .redes-sociales {
        margin-bottom: 1rem;
    }
}

@media (max-width: 480px) {
    header .logo h1 {
        font-size: 1.2rem;
    }

    header nav ul li a {
        font-size: 0.9rem;
    }

    .producto h3,
    .oferta h3 {
        font-size: 1rem;
    }

    .producto p,
    .oferta p {
        font-size: 0.9rem;
    }

    .productos-grid,
    .ofertas-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .graphics-details,
    .processor-details,
    .ram-details {
        max-width: 280px;
        max-height: 400px;
        font-size: 16px;
    }

    .graphics-image,
    .processor-image,
    .ram-image {
        max-width: 90px;
    }
}

/* Graphics design */

.graphics-details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 550px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.graphics-image {
    max-width: 200px;
    margin-right: 40px;
}

.graphics-specs {
    max-width: 400px;
}

.graphics-specs h2 {
    margin-top: 0;
    color: #333;
}

.graphics-specs ul {
    list-style: none;
    padding: 0;
}

.graphics-specs ul li {
    margin-bottom: 10px;
}

.graphics-specs ul li strong {
    color: #555;
}

/* Processors desing */

.processor-details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 550px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.processor-image {
    max-width: 200px;
    margin-right: 40px;
}

.processor-specs {
    max-width: 400px;
}

.processor-specs h2 {
    margin-top: 0;
    color: #333;
}

.processor-specs ul {
    list-style: none;
    padding: 0;
}

.processor-specs ul li {
    margin-bottom: 10px;
}

.processor-specs ul li strong {
    color: #555;
}

/* Ram desing */

.ram-details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 550px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ram-image {
    max-width: 200px;
    margin-right: 40px;
}

.ram-specs {
    max-width: 400px;
}

.ram-specs h2 {
    margin-top: 0;
    color: #333;
}

.ram-specs ul {
    list-style: none;
    padding: 0;
}

.ram-specs ul li {
    margin-bottom: 10px;
}

.ram-specs ul li strong {
    color: #555;
}